<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	
	<h1 align="center">규철 쇼핑몰</h1>
	
	<button onclick="location.href='/product/1'">1번 상품 보기</button>
	
	<button onclick="location.href='/product/lists'">모든 상품 보기</button>
	
	<button onclick="location.href='/product/querymethod'">쿼리 메소드 테스트</button>
	
	<button onclick="location.href='/product/regist'">상품 등록 하기</button>
	
	<button onclick="location.href='/product/modify'">상품명 수정 하기</button>
	
	<button onclick="location.href='/product/delete'">상품 삭제 하기</button>

</body>
</html>